@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.modal {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.modalContent {
  background: black;
  color: #cd2e71;
}

.modalDialog {
  width: 30vw !important;
  max-width: none !important;
}

.switch {
  background: none;
  border: none;
  color: white;
}

.buttonLogin {
  background: #cd2e71;
  border: none;
}

.buttonLogin:active {
  background: #ff68a7;
}

.buttonLogin:hover {
  background: #6b2b46;
}


